Last week of Feb:

*ERD, DFD
*Working prototype

Presentation
*Situational Analysis
*Problem
*Benefits
*History of the violator-- continous offender(record)
*Documentation--posibility of future addition of features